<div class="col-lg-6 mt-5">
  <div class="card show">
    <div class="card-body">
      <h4>Your Booking details</h4>
      <p class="lead">
      <strong>Booking for:</strong>
      <%= link_to @refund.booking.workshop.name, @refund.booking.workshop, target: '_blank' %>
      </p>
      <p class="lead">
        <strong>Total Tickets Booked:</strong>
        <%= @refund.booking.no_of_tickets %>
      </p>
      <p class="lead">
        <strong>Amount Paid:</strong>
        <%= @refund.booking.amount_paid %>
      </p>
      <p class="lead">
        <strong>Booking Date:</strong>
        <%= @refund.booking.created_at.strftime("%d %a %B, %Y") %>
      </p>
      <% if !@refund.stripe_refund_id %>
        <%= button_to "Refund", post_refund_details_refund_path(@refund), class: "btn btn-danger btn-lg" %>
      <% else %>
        <p class="lead"><strong>You have already refunded for this workshop</strong></p>
      <% end %>
    </div>
  </div>
</div>
